node_modules
.pnp*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.DS_Store
/.cache
/.mf
/build
/public/build
/app/styles/tailwind.css

worker.js

/cypress/screenshots
/cypress/videos

.env
